os:
  - osx
osx_image: xcode11.3
laguage: objective-c
branches:
  only:
    - develop
    - master
notifications:
  email:
    recipients:
      - a.alterno@outlook.fr
      - lukas.brasseleur@gmail.com
      - yanifoughali08@gmail.com      
    on_success: always
    on_failure: always
install:
  - gem install bundler
  - bundle install
script: bundle exec fastlane ios dev_lane