<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161167834202-g9irkk8r2le8u0qpvndbu284inagn569.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161167834202-g9irkk8r2le8u0qpvndbu284inagn569</string>
	<key>API_KEY</key>
	<string>AIzaSyCwxlNpw_itP0Pl00gghOlQS4f0CXQ4fnc</string>
	<key>GCM_SENDER_ID</key>
	<string>161167834202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LukasYaniAless.BeFoot</string>
	<key>PROJECT_ID</key>
	<string>befoot-23548</string>
	<key>STORAGE_BUCKET</key>
	<string>befoot-23548.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161167834202:ios:caeb5624e6706af617ac63</string>
	<key>DATABASE_URL</key>
	<string>https://befoot-23548.firebaseio.com</string>
</dict>
</plist>